.content {
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
}

.input {
  margin: 2rem;
  background: none;
  border: 1px solid #fff;
  color: #fff;
  padding: 0.25rem 0.5rem;
  font-size: 1.25rem;
}
